/* SlideAnimation.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.slide-container {
  @apply w-full  fixed;
}

.slide-content {
  @apply w-[450px] bg-transparent text-white absolute transition-transform duration-1000 ease-in-out;
}

.slide-in {
  animation: slideIn 1.5s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 1.5s ease-in-out forwards;
}

.bg-orange-transparent {
    background-color: rgba(255, 165, 0, 0.5); /* Adjust the alpha value (0 to 1) as needed */
  }

.bg-black-transparent {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0 to 1) as needed */
  }

.bg-purple-transparent {
    background-color: rgba(128, 0, 128, 0.5); /* Adjust the alpha value (0 to 1) as needed */
  }  

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
