.carousel-container{
    position: absolute;
    top: 30%;
    left: 73%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 200px;
    overflow: hidden;
  }
  
  .text-slide{
    width: 100%;
    display: flex;
  }
  
  .texts{
    min-width: 100%;
    padding: 1rem;
    color: #000;
    text-align: center;
  }
  