/* ChartBox.css */
.slide-container2 {
    @apply w-[450px] h-screen fixed right-[-25px] top-[80px] bottom-0 overflow-hidden;
  }
  
  .slide-content2 {
    @apply w-[450px] h-full bg-transparent text-white transition-transform duration-1000 ease-in-out;
  }

.slide-in2 {
  animation: slideIn2 1.7s ease-in-out forwards;
}

.slide-out2 {
  animation: slideOut2 1.7s ease-in-out forwards;
}

@keyframes slideIn2 {
  from {
    transform: translateX(100%); /* Start from the right outside the screen */
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%); /* Slide out to the right outside the screen */
  }
}



.line {
  width:150px;      
  margin-top: 10px;
  margin-bottom: 10px; 
      }

path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 2s linear forwards;
}

  @keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
